<div class="well">
  <h4>Add Training</h4>
  <form action="/training" role="form" method="post">
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" name="type"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>