<div class="well">
  <h4>Add Training</h4>
  <form action="/training" role="form" method="post">
    <div class="form-group">
      <label for="type">Type</label>
      <select id="types" name="type" multiple="multiple">
        <option value="грудь">Грудь</option>
        <option value="плечи">Плечи</option>
        <option value="спина">Спина</option>
        <option value="бицепс">Бицепс</option>
        <option value="трицепс">Трицепс</option>
        <option value="ноги">Ноги</option>
      </select>
      <label for="datetimepicker">Date</label>
      <input id="datetimepicker" class="form-control" name="date" type="text" >
      <label for="tags">Tags: </label>
      <input id="tags">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <script>
      $(function() {
        $( "#datetimepicker" ).datetimepicker();
        // initialize sol
        $('#types').searchableOptionList();
        $( "#tags" ).autocomplete({
          source:
        });
      });
    <{{!}}/script>
    <style>
      input[type=checkbox], input[type=radio] {margin: 0}
    </style>

  </form>
</div>